{% block content %}
<table>
    <thead>
        <th>countryCode</th>
        <th>siteName</th>
        <th>HAAT</th>
        <th>PRMED_B</th>
        <th>PRMED_C</th>
        <th>frequency</th>
        <th>id</th>
        <th>noiseFloorC</th>
        <th>noiseFloorB</th>
        <th>contourDistanceC</th>
        <th>polarisation</th>
        <th>latitude</th>
        <th>channel</th>
        <th>status</th>
        <th>FSI_B</th>
        <th>FSI_C</th>
        <th>ERPi</th>
        <th>path</th>
        <th>maxERP</th>
        <th>antennaHeight_AGL</th>
        <th>contourDistanceB</th>
        <th>EMED_B</th>
        <th>EMED_C</th>
        <th>longitude</th>
        <th>programme</th>
    </thead>
    <tbody>
        for result in results:
           <tr>
                <td>result["countryCode"]</td>
                <td>result["siteName"]</td>
                <td>result["HAAT"]</td>
                <td>result["PRMED_B"]</td>
                <td>result["PRMED_C"]</td>
                <td>result["frequency"]</td>
                <td>result["id"]</td>
                <td>result["noiseFloorC"]</td>
                <td>result["noiseFloorB"]</td>
                <td>result["contourDistanceC"]</td>
                <td>result["polarisation"]</td>
                <td>result["latitude"]</td>
                <td>result["channel"]</td>
                <td>result["status"]</td>
                <td>result["FSI_B"]</td>
                <td>result["FSI_C"]</td>
                <td>result["ERPi"]</td>
                <td>result["path"]</td>
                <td>result["maxERP"]</td>
                <td>result["antennaHeight_AGL"]</td>
                <td>result["contourDistanceB"]</td>
                <td>result["EMED_B"]</td>
                <td>result["EMED_C"]</td>
                <td>result["longitude"]</td>
                <td>result["programme"]</td>
           </tr> 
    </tbody>
    </table>
{% endblock %}